.header {
  margin-bottom: 58px;
  position: relative;

  &__container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  &::after {
    display: inline-block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #e6e6e6;
  }
}
